<h2>My tops</h2>

<ul class='item-lists'>
  <% @category2.each do |category| %>
      <li class='list'>
        <div class ='item-img-content'>
        <%= link_to(top_path(category.id), class: '#') do %>
          <%= image_tag category.image.variant(resize: '300x300'), class: "item-img" %>
        <% end %>
        </div>
      </li>
  <% end %>
</ul>